eureka:
  instance:
    hostname: api-gateway
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true